<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
</div>

<p>
  Splurty was built by Hthr </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'hthr.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1"
    <h2 class="text-center">Hthr</h2>
    <br />
    <p>
      INSERT HTHR BIO
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
